<!DOCTYPE html>
<html ng-app='riddleApp'>
    <head>
        <title>The Riddle Box by Jem</title>
        <meta charset = 'utf-8'>
        <meta name='viewport' content='width=device-width initial-scale=1'>
        <meta name='description' content='A random riddle generator that automatically updates everyday'>
        <link rel='stylesheet' type='text/css' href='style.css'>
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Patrick+Hand+SC" rel="stylesheet">
        <script src='app/library/angular.min.js'></script>
        <script src='app/library/angular-route.min.js'></script>
        <script src='app/library/angular-animate.min.js'></script>
        <script src='app/app.js'></script>
    </head>
    <body>
        <header ng-controller='mainController'>
            <div class='wrapper'>
                <a href='#!/intro'><h1>riddleBox</h1></a>
                <button ng-click='directory = !directory' class='directory-btn'>Directory</button>
                <ul class='directory-list' ng-show='directory'>
                    <li ng-repeat='riddle in riddles'>
                        {{riddle["title"]}}
                    </li>
                </ul>
            </div>
        </header>
        <main ng-view></main>
        <footer>
            <div class='wrapper'>
                <p>Riddles and images from: </p>
                <ul>
                    <li>Brilliant</li>
                    <li>Popular Mechanics</li>
                </ul>
            </div>
        </footer>
    </body>
</html>

