<header>
    <div class='wrapper'>
        <h1>riddleBox</h1>
        <a class='directory-btn'>Directory</a>
        <ul class='directory-list'>
            <li ng-repeat='riddle in riddles'>
                {{riddle}}
            </li>
        </ul>
    </div>
</header>
<div id='problem' class='flex-column' ng-repeat='riddle in riddles'>
    <p>{{riddle}}</p>
    <h2>{{riddle[title]}}</h2>
    <ul class='flex-column'>
        <li ng-repeat='line in riddle.problem'>{{line}}</li>
    </ul>
    <p>Riddle from: {{riddle[source]}}</p>
    <button>SHOW SOLUTION</button>
    <div id='solution' class='flex-column'>
        <h2>SOLUTION</h2>
        <ul class='flex-column'>
            <li ng-repeat='line in riddle.solution'>{{line}}</li>
        </ul>
    </div>
    <button>NEXT RIDDLE</button>
</div>